name: clear-env

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      HOGE_ABC: 1
      HOGE_DEF: 2
      HOGE_GHI: 3
      FOO_ABC: 4
      FOO_DEF: 5
      FOO_GHI: 6
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Remove HOGE_
        uses: ./clear-env/
        with:
          pattern: HOGE_.*
      - name: Check
        run: |
          test -z ${HOGE_ABC}
          test -z ${HOGE_DEF}
          test -z ${HOGE_GHI}
          test ${FOO_ABC} -eq 4
          test ${FOO_DEF} -eq 5
          test ${FOO_GHI} -eq 6
      - name: Remove _DEF
        uses: ./clear-env/
        with:
          pattern: .*_DEF
      - name: Check
        run: |
          test -z ${HOGE_ABC}
          test -z ${HOGE_DEF}
          test -z ${HOGE_GHI}
          test ${FOO_ABC} -eq 4
          test -z ${FOO_DEF}
          test ${FOO_GHI} -eq 6
