name: docker-run

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Run registry
        uses: ./internal/docker-run
        with:
          ports: 5000:5000
          image: registry:2
      - name: Test
        run: |
          docker pull alpine:latest
          docker tag alpine:latest localhost:5000/alpine:latest
          docker push localhost:5000/alpine:latest
